extends ../layout 

block content
    a(href = '/bicicletas') volver 

    br
    br
    br

    n1 Nueva bicicleta

    br
    br


    form(action="/bicicletas/create" method ='post')
        label(for="id") ID:
        input#id(type="text" name = 'id')
        br
        label(for="color") Color:
        input#color(type="text" name = 'color')
        br
        label(for="modelo") Modelo:
        input#modelo(type="text" name = 'modelo')
        br
        label(form='lat') Latitud:
        input#modelo(type="text" name ='lat')
        br
        label(form='long') Longitud:
        input#modelo(type="text" name ='long')
        br
        br
        input.btn(type='submit', value = 'OK')

